@import '../../scss/base';
.about-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: url("../../img/welcome_bg.jpg") no-repeat;
  background-size: cover;
}
.about-me-wrapper{
  flex: 0;
  height: auto;
}
.about-me{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  &__col {
    display: flex;
    width: 50%;
    flex-direction: column;
  }
  .bio {
    flex-direction: row;
    justify-content: space-between;
    background: $light-green;
    padding: 1.25em;
    min-height: 650px;
    &__title-box{
      position: relative;
      width: 50%;
      @include page-title;
      color: $dark-grey;
    }
    &__author-box {
      width: 50%;
      @include page-title;
        color: $green-grey;
        margin-bottom: 2em;

    }
    &__author-photo{
      width: 100%;
      overflow: hidden;
      margin-bottom: 2em;
      img {
        display: block;
        width: 100%;
        max-height: 400px;

      }
    }
    &__author-text{
      font-family: 'Roboto';
      font-size: 1em;
      text-align: left;
      line-height: 1.25em;
      color: $green-grey;
      margin-bottom: 1em;
    }
  }
  .skills {
    flex-direction: column;
    padding: 1.25em 2.25em;
    min-height: 650px;
    background: $skills-box-bg;
    &__title-box {
      width: 40%;
      align-self: center;
      @include page-title;
      color: $green-grey;
      margin-bottom: 1em;
    }
    &__text-box {
      margin-bottom: 2em;
    }
    &__author-text {
      font-family: 'Roboto';
      font-size: 1em;
      text-align: left;
      line-height: 1.25em;
      color: $green-grey;
      margin-bottom: 1em;
    }

    &__group {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    &__group-title{
      font-family: 'Roboto-Medium';
      color: $green-grey;
      text-align: left;
      bottom: 1em;
    }
    &__group-list{
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 1em;

    }
    &__group-item{
      display: inline-flex;
      max-width: 120px;
      position: relative;
      margin-bottom: 1em;
      .piechart {
        width: 120px;
        height: 120px;
        &__bg {
          stroke: $light-orange-gray;
          stroke-dashoffset: 0;
        }
        &__fill {
          stroke: $green;
          transition: stroke-dashoffset $transition-time_slow;
        }
      }
    }
    &__group-item-title{
      position: absolute;
      font-family: 'Roboto-Medium';
      font-size: 0.875em;
      width: 120px;
      padding: 20px;
      color: $green;
      top: 50%;
      text-align: center;
      transform: translateY(-55%);
    }
  }
}
.map-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: calc(100% + 250px);
  min-height: calc(500px + 250px);
  width: 100%;
  background: url("../../img/map-holder.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
  .map-contact{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact-info{
    display: flex;
    background: $contact-info-bg;
    padding: 2em;
    border-radius: 3px;
    flex-direction: column;
    .contaci-info__title{
      margin-bottom: 1em;
      color: $green-grey;
      @include title-underline;
      &:after {
        bottom: -15px;
      }
    }
    &__item{
      display: flex;
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
    }
    &__link{
      color: $green-grey;
      font-family: 'Roboto-Medium';
      font-size: 1em;
      cursor: pointer;
      .fa{
        color: $green;
        text-align: center;
        font-size: 1.5em;
        margin-right: .5em;
        width: 2em;
      }
    }
  }
}