.btn{
  display: flex;
  font-family:'Roboto-Medium';
  font-size: 16px;
  color: $btn--text-color;
  background: $btn--bg-color;
  border: 1px solid $btn--border-color;
  padding: 1em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  &:hover{
    background: $btn--hover-bg-color;
    text-decoration: none;
  }
  &--transparent{
    background: $btn--bg-transparent;
    border: 1px solid $btn--bg-transparent-border;
  }
}


.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1em;
  padding: 0;
  position: relative;
  z-index: 5;

  &__item{
    display: flex;
    text-align: center;
  }
  &__item + .social-links__item{
    margin-left: 10px;
  }
  .social-links__link{
    cursor: pointer;
    font-size: 2em;
    color: transparentize($white,.5);
    &:hover,
    &:active{
      text-decoration: none;
      color: $green;
    }
  }
}


.menu-button{
  width: 40px;
  height: 30px;
  position: relative;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: $transparent;
  padding: 0;
  z-index: 10;
  &__line,
  &:before,
  &:after{
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 3px;
    background-color: $white;
    transform-origin: center center;
    transition: all $transition-time;
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom: 0;
  }
  &__line{
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &:active,
  &.active{
    .menu-button__line {
      opacity: 0;
    }
    &:before{
      top: 50%;
      -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
      transform: translateY(-50%) rotate(-45deg);
    }
    &:after{
      bottom: 50%;
      -webkit-transform: translateY(50%) rotate(45deg);
      -ms-transform: translateY(50%) rotate(45deg);
      transform: translateY(50%) rotate(45deg);
    }
  }
}
.go-down,
.go-up {
  color: $white;
  font-size: em(36);
  opacity: .7;
  transition: all $transition-time;
  padding: 0;
  &:hover {
    opacity: 1;
  }
}

.go-down {
  position: absolute;
  z-index: 1;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.25em;
  &:hover {
    padding-top: 10px;
    bottom: 290px;
  }
}

.go-up {
  display: block;
  position: relative;
  margin: 70px auto;
  width: 50px;
  height: 50px;
  font-size: em(40);
  text-shadow: 0 0 10px rgba(invert($white), .5);
}

