.btn{
  display: flex;
  font-family:'Roboto-Medium';
  font-size: 16px;
  color: $btn--text-color;
  background: $btn--bg-color;
  border: 1px solid $btn--border-color;
  padding: 1em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  &:hover{
    background: $btn--hover-bg-color;
    text-decoration: none;
  }
  &--transparent{
    background: $btn--bg-transparent;
    border: 1px solid $btn--bg-transparent-border;
  }
}