*{
  box-sizing: border-box;
}
ul,
ul li{
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}
a{
  text-decoration: none;
  color: $link--color;
  &:hover{
    text-decoration: underline;
  }
}
html, body {
  height: 100%;
  font-size: 16px;
  font-weight: normal;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
  .main{
    display: flex;
    flex: 1;
  }
}
header{
  display: flex;
  width: 100%;
  padding: 20px;
}
h1{
  font-size: 3.9375em;
  font-family: 'Sansus-Webissimo';
  color: $dark-grey;
  line-height: 1;
  font-weight: 400;
  text-align: center;
  margin: 0;
}