extends ../base

block head

block content
    include ../sprites
    .wrapper.blog-wrapper
        header.site-header
            .site-header__top
                +social_links
                button#menu-toggle.menu-button
                    span.menu-button__line
            .site_author
                +avatar
                h1.blog-wrapper__title Блог
                p.site_author__description Cтатьи, которые я на писал.
            svg.site-header__svg-bg
                use(xlink:href="#icon-blog_header")


            svg.site-header__svg-corner(preserveAspectRatio="none" viewBox="0 0 2000 400")
                g
                    polygon(fill-rule="evenodd" clip-rule="evenodd" points="2032,360.368 2032,0 1016,173 0,0 0,360.368 	")
    section.blog
        .container
            aside.blog__navigation
                .blog__navigation-box.nav-fixed
                    ul.blog__navigation-links-list
                        li.links-list__item
                            a(href="#article-0").links-list__link Самое важное в Sass
                        li.links-list__item
                            a(href="#article-1").links-list__link Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.links-list__item
                            a(href="#article-2").links-list__link Самый необходимый набор Gulp плагинов
            section.blog__content
                article#article-0.article
                    h3.article__title Самое важное в Sass
                    p.article__date 17 сентября 2017
                    .article__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                article#article-1.article
                    h3.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
                    p.article__date 17 сентября 2017
                    .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

                article#article-2.article
                    h3.article__title Самый необходимый набор Gulp плагинов
                    p.article__date 17 сентября 2017
                    .article__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.


    include ../footer