@import '../../scss/base';
.blog-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    //background: url("../../img/welcome_bg.jpg") no-repeat;
    //background-size: cover;
    overflow: hidden;
    .site-header {
        .site_author{
            min-height: 450px;
        }
        &__svg-corner{
            bottom: -110px;
        }
        &__svg-bg{
            top: 55%;
            width: 60%;
        }
    }
    .social-links{
        &__link{
            color: $white;
            &:hover,
            &:active{
                color: $green;
            }
        }
    }
    &__title{
        color: $white;
        margin-bottom: 1em;
        @include title-underline;
        &:after{
            bottom: -20px;
            background: $white;
        }
    }
    .site_author__description{
        font-size: 1em;
        color: $white;
        font-family: 'Roboto';
    }
    @include phone{
        .site-header__svg-corner{
            bottom: -20px;
        }
    }
}
.blog{
    display: flex;
    width: 100%;
    height: auto;
    background: $blog-bg;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 20;
    .container{
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 960px;
        flex-direction: row;
        justify-content: center;
    }
    &__navigation,
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__navigation{
        width: 30%;
        padding: 2em 0;
    }
    &__content{
        width: 70%;
        transition: all $transition-time;
    }
    &__navigation-box{
        display: flex;
        width: 100%;
        height: 100%;

    }
    &__navigation-links-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .links-list__item{
        margin-bottom: 1em;
    }
    .links-list__link{
        display: flex;
        font-family: 'Roboto-Bold';
        font-size: 1em;
        color: $blog-text-color;
        width: 100%;
        padding: 1em 0;
        transition: all $transition-time;
        &:hover,
        &:active,
        &.active{
            color: $green;
            border-right: 3px solid $green ;
            text-decoration: none;
        }
    }
    &__content{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2em;
    }
    .article{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2em;
        &__title{
            color: $blog-text-color;
            text-align: left;
            margin-bottom: 30px;
        }
        &__date{
            font-family: 'Roboto';
            font-size: 1em;
            color: $green;
            text-align: left;
            margin-bottom: 30px;
        }
        &__content{
            font-family: 'Roboto';
            font-size: 1em;
            color: $blog-text-color;
            text-align: left;
            margin-bottom: 1em;
        }
    }
    &__navigation-toggle {
        display: none;
        cursor: pointer;
    }
    @include tablet{
        &__navigation{
            position: fixed;
            float: none;
            top: 0;
            left: -80%;
            bottom: 0;
            z-index: 10;
            width: 80%;
            height: 100%;
            background-color: $green;
            transition: all $transition-time;
            flex-direction: column;
            padding: 4em 2em;
            &.active {
                left: 0;
            }
        }
        &__navigation-box{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
        }
        .links-list__item a{
            justify-content: flex-end;
            text-align: right;
            font-family: 'Roboto';
            color: rgba($white, .7);
            &:hover,
            &:active,
            &.active{
                font-family: 'Roboto-Bold';
                color: $white;
            }
        }
        &__navigation-toggle{
            display: block;
            z-index: 1;
            position: absolute;
            top: 50%;
            right: -30px;
            height: 100px;
            width: 100px;
            margin-top: -60px;
            border-radius: 50%;
            background-color: $green;
            .fa {
                position: absolute;
                color: $white;
                opacity: .7;
                top: 50%;
                right: 10%;
                line-height: 1;
                transform: translateY(-50%);
                font-size: em(20);
                transition: transform $transition-time;
                .active & {
                    transform: translateY(-50%) rotateY(180deg);
                }
            }
        }
        .article{
            &__content{
                font-family: 'Roboto';
                color: $green-grey;
                font-size: 1em;
                text-align: left;
                margin-bottom: 1em;
            }
        }
    }
}
