extends ../base

block head

block content
    .wrapper.works-wrapper
        header.works-header
            .works-header__top
                +social_links
                button#menu-toggle.menu-button
                    span.menu-button__line
            .site_author
                +avatar
                p.site_author__name Кривда Ярослав
                p.site_author__description Личный сайт веб разработчика
            svg.header__svg-bg
                //use(xlink:href="#icon-portfolio_header")
            .header-title-box
                .header-box__title
                    h1.page-title Мои работы

        section.portfolio-slider
            .portfolio-slider__module
                ul.portfolio-projects
                    li.project
                        .project__inner
                            h3.project__title Сайт школы онлайн Образования
                            p.project__tech-box
                                span.skill-tag HTML,
                                span.skill-tag CSS,
                                span.skill-tag JavaScript
                            a.project__link
                                i.fa.fa-link
                                p Перейти на сайт

            .portfolio-slider__module.portfolio-slider__projects-container
                .portfolio-slider__preview-container
                    img(src=require("./work-1.png") alt="work1").portfolio-preview
                .portfolio-slider__navigation-container
                    .navigation-box.navigation-box_prev 1
                    .navigation-box.navigation-box_next 2


        //footer.welcome-footer
        //    .copyright © Кривда Ярослав
        //    .copyright Front-end developer
        //    .copyright 2017


