@import '../../scss/base';
.works-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	background: url("../../img/welcome_bg.jpg") no-repeat;
	background-size: cover;
}
.works-header{
	padding: 0;
	width: 100%;
	display: flex;
	min-height: 820px;
	justify-content: stretch;
	flex-direction: column;
	&__top {
		padding: 20px;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 70px;
		.social-links {
			flex-grow: 1;
			display: flex;
			margin-top: 0;
			justify-content: flex-start;
			width: 50%;
			.social-links__item {
				margin-right: 1em;
			}
		}
		.menu-button{
			display: flex;
		}
	}
	.site_author{
		display: flex;
		flex: 1;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		@include avatar;
		&__name{
			font-family: 'Roboto-Medium';
			color: $white;
			font-size: 2.1875em;
			line-height: 1;
			margin: 30px auto 10px;
		}
		&__description{
			font-family: 'Roboto-Light';
			color: $white;
			font-size: 1em;
			line-height: 1;
			margin: 0 auto;
			opacity: .8;
		}
	}
	.header-title-box{
		display: flex;
		width: 100%;
		background: $myworks-title-bg;
		justify-content: center;
		.header-box__title{
			width: 100%;
			padding: 4em 1em;
			@include page-title;
		}
	}
}


.portfolio-slider{
	display: flex;
	width: 100%;
	height: 100%;
	min-height: 650px;
	overflow: hidden;
	background: $light-green;
	flex-direction: column;
	flex-wrap: wrap;
	.portfolio-projects{
		display: flex;
		width: 50%;
		height: 100%;
		overflow: hidden;
		position: relative;
		flex-direction: column;
		.project{
			display: flex;
			width: 100%;
			height: 100%;
			padding: 5% 10%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&__inner {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			&__title{
				text-align: center;
				color: $green-grey;
				margin-bottom: 1em;
				@include title-underline;
				&:after {
					background: $green-grey;
				}
			}
			&__tech-box{
				display: flex;
				width: 100%;
				flex-direction: row;
				justify-content: center;
				margin: 0 auto 2em;
				.skill-tag{
					margin-right: 5px;
					text-align: center;
					text-transform: uppercase;
					color: $akcent--text-color;
				}
			}
			&__link{
				display: flex;
				font-size: 1em;
				line-height: 1;
				text-align: center;
				padding: 1em 2em;
				border-radius: 1.5em;
				background-color: $green;
				color: $white;
				&:hover,
				&:active{
					background: $dark-green;
					text-decoration: none;
					ransition: all $transition-time;
				}
				.fa{
					margin-right: 10px;
				}
			}
		}
	}
	&__previev {
		width: 50%;
		height: 70%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		background: #e1e4d7;
		overflow: hidden;
	}
	&__preview-photo-box{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		.portfolio-preview{
			width: 70%;
			display: flex;
		}
	}
	&__navigation{
		display: flex;
		flex-direction: row;
		height: 30%;
		width: 50%;
		.navigation-box{
			display: flex;
			width: 50%;
			position: relative;
		}
		.portfolio-button {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
			cursor: pointer;
			transition: all $transition-time_slow;
			.fa{
				font-size: 2em;
				color: $white;
				text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
				transition: all $transition-time_medium;
			}
			&:hover,
			&:active{
				background: darken($green-bg-transparent, 20%);
				.fa{
					font-size: 4em;
				}
			}
		}
		.portfolio-button__prev{
			background: $green-bg-transparent;
		}.portfolio-button__next{
			background: $green-bg-transparent-2;
		}
		.portfolio-thumbnails{
			position: relative;
			height: 100%;
			width: 100%;
			overflow: hidden;
			z-index: 3;
			&__item{
				display: flex;
				width: 100%;
				img{
					width: 100%;
				}
			}
		}
	}
}
.talks-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	min-height: 1500px;
	height: 100%;
	background: url('./talks_bg.jpg');
	background-color: $talks-title-bg;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.talks{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	.talks-title-box {
		display: block;
		flex: 1;
		width: 60%;
		padding: 4em 1em;
		@include page-title;
	}
	.talks__content{
		display: flex;
		flex: auto;
		width: 100%;
		justify-content: center;
		padding: 2em 0 4em;
	}
	.talks__testimonial-box{
		max-width: 960px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		.testimonial{
			width: 50%;
			font-size: 1em;
			text-align: center;
			position: relative;
			&:before{
				position: absolute;
				left: 2.5em;
				top: 4.5em;
				content: '';
				width: 80px;
				height: 70px;
				background: url('./blockquote.png') no-repeat top center;
			}
			&__author-photo{
				display: flex;
				justify-content: center;
				.avatar {
					width: 80px;
					height: 80px;
					overflow: hidden;
					border-radius: 50%;
					img{
						width: 100%;
					}
				}
			}
			&__text{
				font-family:'Roboto-Italic';
				font-size: 1em;
				line-height: 1.6em;
				text-align: left;
				color: $testimonial-text-color;
			}
			.author{
				display: flex;
				flex-direction: column;
				justify-content: center;
				&__name{
					font-family:'Roboto-BoldItalic';
					color: $green;
					font-size: 1em;
					line-height: 1.6em;
				}
				&__description{
					font-family:'Roboto-Italic';
					color: $dark-grey;
					font-size: 1em;
					line-height: 1.6em;
				}
			}
		}
	}

}
.contact-form{
	display: flex;
	justify-content: center;
	width: 380px;
	margin: 0 auto;
	max-width: 90%;
	border-radius: 3px;
	overflow: hidden;
	text-align: center;
	position: relative;
	form{
		width: 100%;
		height: 100%;
	}
	&__bg{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		background: rgba(224,224,220, .6);
	}
	&__content {
		position: relative;
		background: 0 0;
		padding: 1.25em;
	}
	&__heading{
		display: block;
		position: relative;
		color: $green-grey;
		margin: .5em 0 1em;
		&:after {
			content: '';
			position: absolute;
			height: 3px;
			width: 10%;
			bottom: -.25em;
			left: 50%;
			margin-left: -5%;
			background: $dark-grey;
		}
	}
	&__field {
		border-radius: 1.5em;
		display: block;
		margin: 1.25em auto;
		padding: 1em;
		width: 100%;
		outline: 0;
		background: $input--bg-color;
		color: $input--text-color;
		-webkit-transition: box-shadow .3s;
		transition: box-shadow .3s;
		border: 1px solid $input--bodred-color;
	}
	&__field_textarea{
		min-height: 10em;
		resize: none;
	}
	.form-buttons{
		position: relative;
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: center;
		z-index: 20;
		&__button,
		&__button-content{
			display: flex;
			width: 100%;
			cursor: pointer;
		}
		&__button{
			border-right: 2px solid rgba($white, .5);
			&:last-child{
				border: none;
			}
		}
		.btn{
			display: flex;
			text-align: center;
			width: 100%;
			background: transparentize($green, 0.15);
			&:hover{
				background: transparentize($dark-green, 0.15);
			}
		}
	}

}

.last-section{
	padding-bottom: 240px;
	margin-bottom: -240px;
}
.works-footer{
	display: flex;
	width: 100%
}