extends ../base

block head

block content
    .wrapper.works-wrapper
        header.works-header
            +social_links
            button#menu-toggle.menu-button
                span.menu-button__line

        section.main.works-main

        footer.welcome-footer
            .copyright © Кривда Ярослав
            .copyright Front-end developer
            .copyright 2017


