@import '../../scss/base';
.works-wrapper{
	background: url("../../img/welcome_bg.jpg") no-repeat;
	background-size: cover;
}
.works-header{
	justify-content: flex-end;
	.social-links{
		margin-top: 0;
		justify-content: flex-start;
		.social-links__item{
			margin-right: 1em;
		}
	}

}