@import '../../scss/base';
.works-wrapper{
	display: flex;
	width: 100%;
	background: url("../../img/welcome_bg.jpg") no-repeat;
	background-size: cover;
}
.works-header{
	padding: 0;
	width: 100%;
	display: flex;
	min-height: 850px;
	justify-content: space-between;
	flex-direction: column;
	&__top {
		padding: 20px;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		min-height: 70px;
		.social-links {
			flex-grow: 1;
			display: flex;
			margin-top: 0;
			justify-content: flex-start;
			width: 50%;
			.social-links__item {
				margin-right: 1em;
			}
		}
		.menu-button{
			display: flex;
		}
	}
	.site_author{
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		@include avatar;
		&__name{
			font-family: 'Roboto-Medium';
			color: $white;
			font-size: 2.1875em;
			line-height: 1;
			margin: 30px auto 10px;
		}
		&__description{
			font-family: 'Roboto-Light';
			color: $white;
			font-size: 1em;
			line-height: 1;
			margin: 0 auto;
			opacity: .8;
		}
	}
	.header-title-box{
		display: flex;
		width: 100%;
		background: $white;
		justify-content: center;
		.header-box__title{
			width: 100%;
			padding: 4em 1em;
			@include page-title;
		}
	}
}
.portfolio-slider{
	display: flex;
	width: 100%;
	height: 100%;
	min-height: 650px;
	overflow: hidden;
	background: $light-green;
	flex-direction: row;
	&__module{
		width: 50%;
		height: 100%;
	}
	.portfolio-projects{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		.project{
			display: flex;
			width: 100%;
			height: 100%;
			padding: 5% 10%;
			justify-content: center;
			align-items: center;
			&__inner {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			&__title{
				text-align: center;
				color: $green-grey;
				margin-bottom: 1em;
				@include title-underline;
				&:after {
					background: $green-grey;
				}
			}
			&__tech-box{
				display: flex;
				width: 100%;
				flex-direction: row;
				justify-content: center;
				margin: 0 auto 2em;
				.skill-tag{
					margin-right: 5px;
					text-align: center;
					text-transform: uppercase;
					color: $akcent--text-color;
				}
			}
			&__link{
				display: flex;
				font-size: 1em;
				line-height: 1;
				text-align: center;
				padding: 1em 2em;
				border-radius: 1.5em;
				background-color: $green;
				color: $white;
				&:hover,
				&:active{
					background: $dark-green;
					text-decoration: none;
				}
				.fa{
					margin-right: 10px;
				}
			}
		}
	}
	&__projects-container {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;
		background: #e1e4d7;
		overflow: hidden;

	}
	&__preview-container{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		.portfolio-preview{
			width: 70%;
			display: flex;
		}
	}
	&__navigation-container{
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 30%;
		.navigation-box{
			display: flex;
			width: 50%;
		}
	}
}
