@import '../../scss/base';
.welcome-wrapper{
  background: url("../../img/welcome_bg.jpg") no-repeat;
  background-size: cover;
}
.welcome-header{
  justify-content: flex-end;
  .btn{
    border-radius: 1.5em;
    padding: 1em 2em;
    &:focus{
      outline: none;
    }
  }
  @include phone {
    justify-content: center;
    .btn{
      padding: .8em 2em;
    }
  }
}
.welcome-main{
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .flip-card{
    position: absolute;
    min-width: 380px;
    border-radius: .3em;
    border: none;
    overflow: hidden;
    background: $block-bg-transparent;
    @include phone {
      min-width: 300px;
    }
  }
  .flip-card__front-side{
    width: 100%;

    .author-bio{
      display: flex;
      flex-direction: column;
      padding: 2.25em 0 0;
      &__name{
        font-size: 1.75em;
        font-family: 'Roboto-Medium';
        color: $white;
        line-height: 1;
        text-align: center;
        margin-bottom: .5em;
      }
      &__description{
        font-size: 1em;
        font-family: 'Roboto';
        color: opacify($white,.8);
        line-height: 1;
        text-align: center;
        margin-bottom: 1.5em;
      }
    }
    @include avatar;
    .social-links{
      padding: 0 2em;
    }
  }
  .main-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
    &__item{
      flex-grow: 1;
      margin: 0;
      padding: 0;
      &:last-child{
        border: none;
      }
      .btn{
        display: flex;
        text-align: center;
        width: 100%;
        background: transparentize($green, 0.15);
        &:hover{
          background: transparentize($dark-green, 0.15);
        }
      }
    }
    &__item + .main-nav__item{
      border-left: 2px solid rgba($white, .5);
    }
  }
}

  