extends ../base

block head

block content
    .wrapper.welcome-wrapper
        header.welcome-header
            button#flip-card.btn.btn--transparent Авторизоваться

        section.main.welcome-main
            .welcome-card
                .welcome-card__front-side
                    .author-bio
                        +avatar
                        .author-bio__name Ярослав Кривда
                        .author-bio__description Frontend Developer
                        +social_links
                        +main-nav
            .welcome-card
                .welcome-card__back-side
                    h3.welcome-title.welcome-title__card Авторизуйтесь

                    //- div.card__form--login
                    form.form.form__login(method="post")
                        .form__input-group
                            span.form__input-group-addon
                                i.fa.fa-user(aria-hidden='true')
                            input.form__input.form--login__input.error(id="login", name="login" type="text",placeholder="Логин")
                        .form__input-group
                            span.form__input-group-addon
                                i.fa.fa-key(aria-hidden='true')
                            input.form__input.form--login__input(id="password", name="password" type="password",placeholder="Пароль")

                        .form__input-group.form__input-group--checkbox
                            input.checkbox-custom(id="ishuman", name='ishuman', type='checkbox')
                            label.checkbox-custom-label(for='ishuman') Я человек

                        div.form__text Вы точно не робот?
                        .form__input-group.form__input-group--radios
                            .form__radio
                                input#notrobot-yes.radio-custom(name='notrobot', type='radio' value='yes')
                                label.radio-custom-label(for='notrobot-yes') Да
                            .form__radio
                                input#notrobot-no.radio-custom(name='notrobot', type='radio'  value='no')
                                label.radio-custom-label(for='notrobot-no') Не уверен

                        nav.welcome-card__welcome-nav
                            ul.main-nav
                                li.main-nav__item
                                    a.btn.btn--hide-login(href='/index.html') На главную
                                li.main-nav__item
                                    input(type="submit" id="login-btn" value="Войти").btn
        footer.footer.welcome-footer
            .copyright-row
                .copyright © Кривда Ярослав
                .copyright Front-end developer
                .copyright 2017


