footer.footer.works-footer
    .footer-row
        .footer-col
            p.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.

        .footer-col
            +navigation
            +social_links
        .footer-col
            p.footer__quote
                span.footer__quote-text Болтовня ничего не стоит. Покажите мне код.
                span.footer__quote-author — Linus Torvalds

    .copyright-row.copyright-row__green-bg
        .copyright © Кривда Ярослав
        .copyright Front-end developer
        .copyright 2017
